.wrapper {
  padding: 30px 20px;
  background-image: url("/src/images/bgi2.jpg");
  /* min-height: 100vh; */
  height: auto;
}
.grid-filter-column {
  grid-template-columns: 0.4fr 0.55fr;
}

@media (max-width: 768px) {
  .grid-filter-column {
    grid-template-columns: 1fr;
  }
}
