.topic {
    position: relative;
    object-fit: cover;
    background-image: url('/src/images/search5.jpg') ;
    background-repeat: no-repeat;
    width: 100%;
    height: 45vh;
    padding: 1% 1%;
  }
  
  .text_t {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1c4980;
    text-align: center;
    margin: 0;
    z-index: 999;
    word-break: break-word;
    font-weight: 700;
    font-size: 4vw;
  }
  
  .text_t::before,
  .text_t::after {
    content: '';
    position: absolute;
    width: 30%;
    height: 6px;
    background-color: #1c4980;
  }
  
  .text_t::before {
    top:100%;
  }
  .text_t::after {
    left:70%;
    top:4%;
  }
  
  .container_t{
    padding: 20px 20px;
    position: relative;
    background-color: white;
    width:auto;
    height: auto;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;;
    margin-bottom: 2%;
  }
  
  .main{
    height:33vh;
    margin-bottom: 3%;
  }
  
  .post_m{
    display:flex;
    height:20vh;
    width:100%;
  }
  .post{
    /* margin: 0; */
    justify-content: center;
    margin-top: 2.5%;
    margin-left: 1%; 
    width: 70%;
    height: 20vh;
    justify-content: center;
  }
  
  .post i{
    /* font-size: 12px; */
    /* height: 20px; */
    /* width: 20px; */
    color:rgb(79, 79, 255);
  }
  .post_r{
    margin-bottom: 8px;
  }
  
  .role{
    font-size: 20px;
    font-weight: 500;
    
  }

  .icon i{
    color:rgb(79, 79, 255);
  }
  
  .location{
    color:rgb(79, 79, 255);
    /* font-size: 12px; */
  }
  
  .loc{
    color:rgb(79, 79, 255);
    margin-top: 2px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
  }

  .icon{
    color: rgb(96, 96, 96);
    margin-top:0;
  }
  
  .zmdi zmdi-city material-icons-name{
    font-size: 18px;
  }
  .comp{
    font-size: 19px;
    font-weight: 500;
    color: rgb(96, 96, 96);
    top:-12%;
    margin:  0 5px;
    margin-bottom: 0;
  }
  
  .logo{
    /* margin: 0; */
    /* object-fit: contain; */
    height: 20vh;
    margin-right: 8%;
  }
  
  .logo img{
    /* width: 124px; */
    height: 20vh;
    border-radius: 8px;
    border: 1px solid #dde5ea;
    margin-right: 8%;
  }
  
  .main .details{
    display: flex;
  }
  
  .other_d{
    display: flex;
    flex-wrap: wrap;
    padding-top: 25rem;
  }
  
  .startD_c{
    margin-right: 24px;
  }
  
  .startD{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: #8A8A8A;
    display: flex;
    /* font-family: sans-serif; */
    font-weight: 500;
  }

  .startD i{
    color: #8A8A8A;
  }
  
  .startHead{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .5px;
    margin-left: 5px;
    text-transform: uppercase;
    color: #8A8A8A;
    display: flex;
    font-weight: 500;
    margin-right: 24px;
  }
  .start_date{
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  .about{
    font-size:18px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .compC{
    margin-bottom: 25px;
    margin-left:1%;
  }

  /* .btn_a{
    left: 50%;
  } */

  .skillC{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-left:1%;
  }

  .skilltab{
    background: #F8F8F8;
    color: #666;
    padding: 6px 12px;
    border-radius: 14px;
    margin-right: 16px;
    margin-bottom: 8px;
    line-height: 16px;
  }

  .btn-1{
    background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  }
  .btn-2{
    background-color: red;
  border: none;
  color: white;
  padding: 13px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px;
  }